* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.about-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/cat.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.course-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/course.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.contact-header {
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/contact.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: flex-end;
}

.project-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/projects.gif);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    position: relative;
    right: 70px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    /*no bullets*/
    display: inline-block;
    /*present it horizontally*/
    padding: 8px 15px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    color: #fff;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    font-size: 20px;
    color: #fff;
    margin: 10px 0 40px;
}

.about-button {
    display: inline;
    text-decoration: none;
    color: #268AF3;
    cursor: pointer;
}


/*-----------likes in about.html-----------*/

.about-text-box {
    color: #C3C2C2;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: flex-start;
    text-align: center;
    justify-content: space-between;
}

.arrow {
    transform: translate(0, 180%);
}

.arrow .fa {
    color: #fff;
}

.arrow p {
    font-size: 30px;
}

.about-text-box h1 {
    font-size: 60px;
}

.about-text-box h2 {
    font-size: 40px;
    padding: 50px
}

.likes-col h3 {
    font-size: 30px;
    color: #ABA9A9;
    padding: 20px;
    transform: translate(0%, -100%);
    justify-content: space-between;
}

.likes-col p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 10px;
    transform: translate(0%, -50%);
    flex-basis: auto;
    border-radius: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.5s;
}

.likes-col p:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.4);
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


/*-----------projects in course.html-----------*/

.projects-col {
    width: 60%;
    margin: auto;
    color: #fff;
    text-align: left;
}

.projects-col img {
    width: 20%;
    transform: translate(-100%, 20%);
}

.projects-col h2 {
    font-size: 40px;
    text-align: center;
}

.projects-col h3 {
    transform: translate(20%, -700%);
    text-align: center;
    font-size: 30px;
}

.projects-col p {
    font-size: 20px;
    transform: translate(20%, -90%);
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}

.github-profile a {
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 25px;
    font-size: 15px;
    margin: 10px 0 40px;
}

.github-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-align: end;
}

.github-button:hover {
    border: 1px solid #1BB02F;
    background: #1BB02F;
    transition: 0.5s;
}


/*-----------contact.html-----------*/

.contact-text-box {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.contact-text-box .fab {
    color: #0874EE;
}

.contact-text-box .fas {
    color: #0874EE;
    /*0ED12B*/
}

.contact-content p {
    text-align: center;
    color: #0874EE;
    font-size: 30px;
}

.contact-content {
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}